body{
    color:white;
}
.container::before{ 
    content: "";
    background:url(img/c.gif) no-repeat center center/cover;
    position: fixed;
    width: 100vw;
    height:100vh;
    z-index: -2;
    opacity: 2;
}
.contactform{
    padding-top: 144px;
    padding-left: 34px;

}
@keyframes piyush {
    0%{
     transform: translatex(-10vh);
    }
    75%{
        transform: scale(0.8);
        }
        100%{
         transform: scale(1);
        }  
}
.contactform form div {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        /* width: 290px; */
        border-radius: 12px;
        animation: piyush 2s ease-in 1s 1 forwards;
}
.contactform form div input{
    border-radius: 9px;
    font-size: 1.3em;
    width: 25vw;
    padding: 3px;
}
.contactform form div label{
    font-size:1.5em;
}
.contactform h1{
    font-size: 3em;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 4vh;

}
.contactform a{
    font-size:1.5em;
    text-decoration:none;
    color:white;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
.contactform a:hover{
    color:red;
}
#emailHelp{
    font-size: 1.3em;
    color: rgb(255, 251, 0);
  
}
#form-check{
    flex-direction: row;

}
#form-check input{
    width: 20vw;
    height:2.8vh;
    margin-left: -9.5vw;
}
#form-check label{
    font-size: 1.5em;
    margin-left:-9vw;
}

.footer{
    margin-top: 8vh;
}
.btn{
    width: 10vw;
}





@media (max-width:1700px){
    .contactform form div input{
        width: 30vw;
    }
}

@media (max-width:1500px){
    .contactform form div input{
        width: 35vw;
    }
    #form-check label{
        margin-left:-8.5vw;
    }
}
@media (max-width:1200px){
    .contactform form div input{
        width: 40vw;
    }
    #form-check label{
        margin-left:-8vw;
    }
}
@media (max-width:1000px){
    .contactform form div input{
        width: 45vw;
    }
    #form-check label{
        margin-left:-7.5vw;
    }
    .btn{
        width: 15vw;
    }
}
@media (max-width:750px){
    .contactform form div input{
        width: 50vw;
    }
    #form-check label{
        margin-left:-7vw;
    }
    .btn{
        width: 20vw;
    }
}

@media (max-width:600px){
    .contactform form div input{
        width: 60vw;
    }
    #form-check label{
        margin-left:-6vw;
    }
    .btn{
        width: 25vw;
    }
}

@media (max-width:500px){
    .contactform form div input{
        width: 80vw;
    }
    #form-check label{
        margin-left:-5vw;
    }
    .btn{
        width: 30vw;
    }
}
@media (max-width:400px){
    .btn{
        width: 35vw;
    }
}
@media (max-width:300px){
    .btn{
        width: 40vw;
    }
}