body{
    color:white;
}
#work::before{
    content: "";  
    /* background:url(img/b7.gif) no-repeat center center/cover; */
    background:black;
  position: absolute;
  width: 100vw;
  height:145vh;
  z-index: -2;
  opacity: 0.8;
}
h1{
    text-align: center;
    font-size:4em;
}
p{
    text-align: center;
    font-size:2em;
    margin-top: 6vh;
}
.work{
    display:flex;
    justify-content:space-evenly;
}
.box{
    margin-top:6vh;
    margin-bottom:16vh;
    height: auto;
    width: 30vw;
    background:white;
    text-align: center;
    padding: 2vw;
}
.box p{
    color:black;
    font-size:1.3em;
}
.box h2{
    color:black;
    font-size:2.5em;
}
.box img{
    margin-top: 3vh;
    margin-bottom: 3vh;
    height:28vh;
    width: 15vw;
}
.box video{
    margin-top: 3vh;
    margin-bottom: 3vh;
    height:28vh;
    width: 26vw;
}
.btn a{
color:black;
}